{% extends 'base.html' %}

{% block content %}
<div class="col-sm-0 offset-0">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/">Home</a>
         </li>
       <li class="nav-item active"><a class="nav-link" href="">loyalty</a></li>
     </ul>
    
  
   </div>
  </nav>
  

<div class="raw">

    <div class="col-sm-0">

    <h4 class="text-center alert alert-info"> create customer  </h4>

    <form action="" method="POST">
     {% csrf_token %}
     {{ form.as_p }} 
     <input type="submit" class="btn btn-success" value="submit" >
    </form>

  </div>
    
</div>

<a href="create" > <button type="submit">go</button></a>

    {% endblock content %}