<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create customer</title>
    <link rel="stylesheet" href="{% static 'customer/css/bootstrap.css' %}">
</head>
<body>
      <div class="container mt-5">
       <h2 class="text center alert alert-danger">create customer</h2>
           
       
       <a href="create">

               <button>view registered</button>
       </a>

       <a href="add">

        <button>create new</button>
</a>


      </div>
    <script src="{% static 'customer/js/jquery.js' %}"></script>
    <script src="{% static 'customer/js/popper.js' %}"></script>
    <script src="{% static 'customer/js/bootstrap.js' %}"></script>  
</body>
</html>



